*{
  margin: 0;
  padding: 0;
  box-sizing: border;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  background: #fff;
  font-family: 'lato', sans-serif;
}

.seller-img{
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.form{
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-items: spa;
}

.form-title{
  font-size: 1.8rem;
  color: #d5be8b;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.form-title2{
  font-size: 1.8rem;
  color: #1d9525;
  text-transform: capitalize;
  margin-bottom: 40px;
}
input, textarea{
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 1.2rem;
  font-size: .9rem;
  line-height: 1.5rem;
  padding: 10px;
  margin: 10px 0;
}

textarea{
  height: 8rem;
  font-family: 'lato', sans-serif;
  resize: none;
  outline: none;
}
.apply-btn{
  width: 250px;
  padding: 10px 0;
  font-size: .9rem;
  text-transform: capitalize;
  background-color: #d5be8b;
  border: none;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'cinzel'; 
}
.apply-btn2 {
  width: 250px;
  padding: 10px 0;
  font-size: .9rem;
  text-transform: capitalize;
  background-color: #70130e;
  border: none;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'cinzel'; 
}
.apply-btn2 a{
  text-decoration: none;
  color: #fff;
}

.iconify {
  width: 100px;
  height: 100px;
  color: #1d9525;
}
h3{
  color: #9744b8;
}

.btn-print{
  width: 250px;
  padding: 10px 0;
  font-size: .9rem;
  text-transform: capitalize;
  background-color: #0e6c3b;
  border: none;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'cinzel'; 
  text-decoration: none;
  text-align: center;
}