.two-input-container{
  display: flex;
  gap: 20px;
}

.payment-order-btn{
  display: block;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  background: #1d1d1d;
  color: #fff;
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-transform: capitalize;
  text-decoration: none;
}

.icon-cards .iconify{
  display: inline;
}